<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".controller.Controller"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".intro.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.IntroActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".login.RegisterActivity"/>
        <activity android:name=".user.KamusActivity" android:theme="@style/SecondTheme" android:label="Kamus"/>
        <activity android:name=".user.DetailKamus"/>
        <activity android:name=".user.PenyakitActivity" android:theme="@style/SecondTheme" android:label="Penyakit"/>
        <activity android:name=".user.DetailPenyakit"/>
        <activity android:name=".user.DiagnosaActvitity"/>
        <activity android:name=".user.HasilActivity"/>
        <activity android:name=".user.HelpActivity"/>
        <activity android:name=".user.AboutActivity"/>
        <activity android:name=".user.HistoryActivity" android:theme="@style/SecondTheme" android:label="History"/>
        <activity android:name=".user.PanduanActivity"/>
        <activity android:name=".adapter.PanduanActivity2"/>
        <activity android:name=".user.SolusiActivity"/>
    </application>

</manifest>